body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Roboto;
}

/* header */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .tittle {
    margin: 0 5%;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}

.header .links {
    margin: 0 5%;
}

.header .links ul{
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 5px;
}

li a {
    color: #f9faf8;
    text-decoration: none;
}

/* body */

    /* sector 1 */

.body .sector#top{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 5% 5%;
}

        /* left side */

.body .sector#top .left {
    display: flex;
    flex-direction: column;
}

.body .sector#top .left .tittle{
    font-weight: bolder;
    font-size: 48px;
}

.body .sector#top .left .desc {
    color: #f9faf8;
}

.body .sector#top .left .buttons button{
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    font-size: 24px;
    font-weight: 900;
}

        /* right side */

.body .sector#top .right{
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

.body .sector#top .right .img{
    background-color: #6D747D;
    width: 320px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* sector 2 */

.body .sector#mid-top {
    margin-bottom: 5%;
}

.body .sector#mid-top .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.body .sector#mid-top .samples {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 40px;
}

.body .sector#mid-top .samples .sample {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body .sector#mid-top .samples .sample .img-holder {
    border: 2px solid;
    border-color: #3882f6;
    border-radius: 10px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.body .sector#mid-top .samples .sample .text-holder {
    width: 150px;
    text-align: center;
    color: #1F2937;
    font-weight: lighter;
}

    /* sector 3 */

.body .sector#mid-bot {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 10%;
    align-items: center;
    justify-content: center;
}

.body .sector#mid-bot .quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    text-align: justify;
}

.body .sector#mid-bot .autor {
    display: flex;
    margin-left: auto;
}

    /* sector 4 */

.body .sector#bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    padding: 5% 10%;
    background-color: #3882f6;
    color: #f9faf8;
}

.body .sector#bot .text .tittle {
    font-weight: bolder;
    font-size: 24px;
}

.body .sector#bot .button button {
    border-radius: 5px;
    border-color: #f9faf8;
    background-color: transparent;
    font-size: 24px;
    color: #f9faf8;
}

/* footer */

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.footer a{
    text-decoration: none;
    color: #f9faf8;
}

/* end body */